<h2 class="container my-5 bg-light p-4">Authors</h2>
<% @users.each do |user| %>

    <div class="container my-4 border rounded">
        <h3><%= user.username %></h3>
        <p class="text-muted mb-0"><%= user.email %></p>
        <p><%= user.designation %></p>
    </div>


<% end %>